<header class="bg-primary text-white p-3 mb-5">
    <div class="container">
        <h1>Libreria EVAZ</h1>
        <nav>
            <a class="text-white me-3" href="/">Inicio</a>
            <a class="text-white me-3" href="/productos">Productos</a>
            <a class="text-white me-3" href="/agregar-producto">Agregar Producto</a>
        </nav>
    </div>
</header>